@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1.2px;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    line-height: 1;
    z-index: 8;
}

h1 {
    font-size: 3em;
    position: relative;
    padding-top: 50px;
    margin-bottom: 0.6em;

}

h2 {
    font-size: 2rem;
    position: relative;
    padding-top: 50px;
    padding-bottom: 2em;
}

h2::before,
h1::before {
    content: "";
    width: 120px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(273, 4%, 51%);

}

.container {
    padding: 0 3em;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    position: fixed;
    position: sticky;
    top: 0;
    padding: 1em 0;
    z-index: 100;
    min-height: 60px;
    max-width: 100%;
    background-color: #fff;
}

.logo {
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-right ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
    
}


.hamburger{
    position: absolute;
    top:20px;
    right: 18px;
    cursor:pointer;
    display: none;
}

header {
    color: #fff;
    position: relative;
    padding: 50px 0 70px;
    margin-bottom: 300px;
}

header::before {
    content: "";
    background-image: url("images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    left: 0px;
    bottom: -50%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header::after {
    content: "";
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: top right;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-img {
    max-width: 100%;
    margin-bottom: -200px;
}

ul {
    padding: 0;
}

li {
    list-style: none;

}

.nav-link {
    opacity: 0.7;
}

a { display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(256, 26%, 20%);
}

.nav-link:hover {
    
    opacity: 1;
}

.nav-link {
    color: hsl(256, 26%, 20%);
    font-size: 0.7rem;
    margin-left: 1.5rem;
    font-weight: 700;
    display: inline-block;
    
}

.btn {font-family: 'Karla', sans-serif;
    color: hsl(256, 26%, 20%);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.8em 1.2em;
    cursor: pointer;
    letter-spacing: 1.2px;
    position: relative;
    z-index: 5;

}

.btn:hover {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
}

.btn-bg {
    background-color: transparent;
    color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.btn-bg:hover {
    background-color: #fff;
    color: hsl(270, 9%, 17%);
}

.hero-section {

    background-color: hsl(256, 26%, 20%);
}

.hero-section p {
    font-size: 0.8rem;
}

.flex>div {
    flex: 1;
}



.column img {
    width: 60px;
}

.column h4 {
    font-size: 1.3rem;
    margin: 20px 0;
}

p {
    position: relative;
    opacity: 0.7;
    z-index: 8;

}

.column p {
    font-size: 0.7rem;
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin-top: unset;
}

.bg-voilet {
    background-color: hsl(256, 26%, 20%);
    padding: 2.5em 0;
    background-image: url('images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30% 100%;
    margin: 100px 0;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space {
    justify-content: space-between;
}

.border-bottom {
    border-bottom: 1px solid hsl(256, 26%, 20%);
    margin-bottom: 2em;
}

footer li {
    margin-bottom: 0.1rem;
}

.footer-flex {
    flex: unset;
}

.social-icons {
    display: flex;
    gap: 1em;
    cursor: pointer;
}

.social-icons li img:hover {
    background-color: hsl(270, 9%, 17%);

}

footer .align-items {
    align-items: unset;
}

footer {
    padding: 2em 0;
    background-color: hsl(0, 0%, 98%);
    background-image: url("images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
}

footer .flex h4 {
    font-size: 1rem;
    opacity: 0.7;
}

footer .flex a {
    font-family: 'Karla', sans-serif;
    font-size: 0.6rem;
    font-weight: 700;
}

@media (max-width:768px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 0 1em;
    }
   
    .nav-img{
        align-self: flex-start;
    }
    .nav-right{
        min-height: 110vh;
        width: 115%;
        background-color:hsl(270, 9%, 17%) ;
        background-image: url("images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-size: 100% 40%;
        background-position: right bottom;
        display: none;
        transition: all 0.3s;
    }
    .nav-right ul{
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 50vh;
        gap: 2em;
        padding-top: 2em;
    }
    .nav-right a{
        color:#fff;
        font-size:0.9em;
        opacity: 1;
    }
    .nav-right .btn{
        font-size: 0.9em;
        border: 2px solid #fff;
        width: 100%;
        display: inline-block;
    }
    .nav-link {
        margin-left: unset;}
        .hamburger{
            display: block;
        }
    .flex,
    .flex1 {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }

    .hero-img {
        margin-bottom: -20px;
       margin-inline: auto;
      
        display: inline-block;
        max-width:calc(100% + 0em);
    }

    h2 {
        text-align: center;
    }

    header {
        padding: unset;
        margin-bottom: 50px;
        padding: 0 0 50px;
        z-index: 6;
    }

    header::before {
        /* background-image: url("images/bg-pattern-intro-left-mobile.svg");
        background-position:bottom left;
       bottom: 40%;
        left: 0; */
        display: none;
    }

    header::after {

        background-image: url("images/bg-pattern-intro-right-mobile.svg");
        background-position: bottom right;
        background-size: 30% 40%;
        top: 20%;
        right: 0;
    }

    h1::before {
        visibility: hidden;

    }

    h2:before {
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-voilet {
        background-image: url('images/bg-pattern-how-we-work-mobile.svg');
    }

    footer {
        background-image: url("images/bg-pattern-footer-mobile.svg");
    }
    footer .flex a {
       
        font-size: 0.6rem;
        
}

.open{
    display: block;
    
}
.close{
    display:none;
  
 }
 .opacity{
    opacity: 0;
 }
.show{
    display: block;
}


}
